<div class="inmuebles-list">
  <div *ngIf="inmuebles && inmuebles.data && inmuebles.data.length">
    <div *ngFor="let inmueble of inmuebles.data" class="inmueble-card" (click)="verDetalle(inmueble.id)">
      <img [src]="inmueble.imagenes.length > 0 ? inmueble.imagenes[0].Uri : 'https://www.freeiconspng.com/uploads/no-image-icon-1.jpg'">
      <p>{{ inmueble.Precio }}</p>
      <p>{{ inmueble.Ciudad }}, {{inmueble.nombreProvincia}}</p>
    </div>
    <button class="ver-mas-btn" (click)="onLoadMore()">Ver más</button>
  </div>

  <div *ngIf="!inmuebles || inmuebles.length === 0">
    <p>No hay inmuebles disponibles.</p>
  </div>
</div>

