.inmuebles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inmueble-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.inmueble-card img {
  max-width: 100%;
  height: auto;
}

.precio {
  font-weight: bold;
}

.direccion {
  font-style: italic;
}

.ver-mas-btn {
  margin: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ver-mas-btn:hover {
  background-color: #45a049;
}
